:root{
    /* Color Pallete */
    --magenta: #bf9ce4;
    --purple: #5C469C;
    --navy: #1D267D;
    --navypurple: #0C134F;
}
*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: var(--navy);
    overflow-y: scroll; 
}

/* Sticked/Fixed Objects */

#navBar{
    text-align: center;
    position:fixed;
    z-index: 2;
    color: white;
    float: left;
    bottom: 0;
    /* background-color: var(--navy); */
    left: 0;
    width: 100%;
    /* width: calc(100% - 1.5em); */
    margin: 0 0 0 0;
    padding: 1vw 0vw 1vw 0vw;
}
#navBar a{
    padding: .25vw 1.5vw .25vw 1.5vw;
    margin: 0 10vw 0 10vw;
    opacity: .7;
    font-size: 1.25vw;
    background-color: var(--navypurple);
    color: gray;
    border: .25vw solid gray;
    transition: ease .5s;
}

#navBar a:hover{
    opacity: 1;
    color: white;
    border-color: white;
}

#navBar .selected{
    opacity: 1;
    color: white;
    border-color: white;
}

#phoneNav{  
    text-align: center;
    position:fixed;
    z-index: 2;
    color: white;
    float: left;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    left: 0;
    width: 100%;
    height: 10vh;
    margin: 0 0 0 0;
}

#phoneNav button{
    color: white;
    font-size: 2em;
    background-color: transparent;
    border: none;
    width: 100%;
    /* height: 100%; */
    margin: 0;
    padding: 0;
}

#phoneNav img{
    width: max(2vw, 2vh);
    /* height: max(2vh, 2vw); */
    /* aspect-ratio: 1 / 1; */
    margin-top: 2vw;
}

#phoneNavLeft{
    transform: scaleX(-1);
    width: auto;
}

#phoneNavRight{
    margin-left: 10;
    width: auto;
}

#navBar div{
    margin: .5vw 0 0vw 0;
}

/* Objects */
#headTitle{
    width: calc(100% - .5em); 
    height: 5em;
    padding: 1em 0 1em 0;
    background-color: var(--navypurple); 
    color: white; 
    text-align: center; 
}

#headTitle h1{
    display: contents;
    line-height: 2em;
    letter-spacing: 1em;
    text-transform: uppercase; 
    text-shadow: 0em 0em 0.625em white;
}
#homeTitle {
    text-align: center !important;
    background-color: var(--navypurple);
    width: 40vw; 
    display: inline-block; 
    border-radius: 40%;
}

#Title1{
    display: block;
}

#Title2{
    display: none;
}
#Title3{
    display: none;
}

.word{
    display: contents;
}

.Titles{
    position: absolute;
    width: calc(100% - 1.5em);
    /* left: 12.5%; */
    top: 3.5em;
}

#contentMargins{
    width: calc(100% - 1.5em);
    padding-bottom: 2vw;
    margin-top: 1%;
    z-index: 1;
    position: absolute;
    overflow: hidden;
}
#contentBackground{
    transition-duration: 1s;
    font-size: 1.5em;
    color: white;
    padding-bottom: 1em;
    text-align: center;
    background-color: var(--purple);
}
.section{
    position: absolute;
    height: auto;
    display: none;
    left: -200%;
    width: 95%;
    margin-left: 2.5%;
    /* margin-top: 1.5em; */
    /* margin-bottom: 2.5em; */
    /* padding-top: 1em; */
    /* padding-bottom: 1em; */
    /* background-color: var(--magenta); */
    color: white;
    display: block;
}
.contentBlock{
    margin-top: 1.5em;
    padding-top: 0.05em;
    padding-bottom: 2em;
    background-color: var(--magenta);
}

#contentBackground h1{
    padding: .5em;
    margin: .5em 0 0 0;
    text-align: center;
}

#contentBackground p{
    padding: 1em 1em 1em 1em;
    text-align: center;
    margin: 0em;
}
#aboutMeImageContainer{
    margin-top: 2em;
    float: left;
    position: relative;
    aspect-ratio: 1 / 1;
}
#aboutMeImage{
    object-fit: cover; 
    width: 100%; 
    aspect-ratio: inherit;
    object-position: top;
    position: static;
    transition-duration: 1s;
}
#aboutMeImageOverlay{
    background-color: rgb(0, 0, 200);
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    aspect-ratio: inherit;
    transition: ease 1s;
}
#aboutMeImageText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: hotpink;
    font-size: 1.5em;
}
#introText{
    text-align: justify !important;
    font-size: 1.25em;
}

#discOverlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    word-wrap: break-word;
    font-size: 1.5em;
    color: white;
    text-align: center;;
}

#discOverlay p, h1{
    padding: .5em;
}

#discOverlay img{
    width: 5em;
    height: 5em;
    padding-left: 1em;
    padding-right: 1em;
}

#discBackground{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    position: absolute;
}

#discContents{
    position: absolute;
    height: auto;
    width: 80%;
    height: 60vh;
    margin-left: 10%;
    margin-top: 20vh;
    margin-bottom: 20vh;
    padding-top: 1em;
    padding-bottom: .25em;
    opacity: 0.9;
    overflow: auto;
    color: white;
    background-color: var(--navypurple);
}

#discAppLinkImg{
    color: white;
}

#skillTitle {
    background-color: var(--navypurple); 
    width: 76vw; 
    display: inline-block; 
    border-radius: 40%; 
    margin-bottom: 0.4em !important;
}

.skillDisplay{
    background-color: var(--navy);
    display: inline-block;
    width: 7.25em;
    /* min-height: 10em; */
    margin: .25em;
    padding: .25em;
    border-radius: 10%;
}

.skillDisplay h2{
    font-size: 1.5em;
}

.skillIcon{
    max-width: 5em;
    margin-top: .5em;
}

.rows{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2vw;
    margin-right: 2vw;
}

.works{
    float:inline-start;
    position:relative;
}

.worksImage{
    transition: ease 1s;
    vertical-align: middle;
    width: 100%;
}

.worksOverlay{
    transition: ease 1s;
    float:left;
    opacity: 0;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    aspect-ratio: inherit;
    transition: ease 1s;

}
.worksImageText{
    background-color: rgb(0, 0, 200);
    position: relative;
    top: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* Actions */
#aboutMeImageContainer:hover #aboutMeImageOverlay{
    opacity: .35;
}
#aboutMeImageContainer:hover #aboutMeImage{
    transition-delay: .1s;
    object-position: 0% 100%;
}

.works:hover .worksImage{
    opacity: .5;
}

.works:hover .worksOverlay{
    opacity: .7;
}

/* Screen Size Dependencies */
@media screen and (max-width: 1000px) {
    body{
        background-color: var(--navy);
    }
    #navBar {
        visibility: hidden;
    }
    #phoneNav{
        visibility: visible;
    }
    #aboutMeImageContainer{
        display: none;
        /* margin-left: 5vw;
        width: 80vw; */
    }
    .columns{
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .blockContents {
        margin-top: max(initial, 100vw);
        /* margin-top: initial; */
    }
}
@media screen and (min-width: 1001px) {
    #phoneNav{
        visibility: hidden;
    }
    #aboutMeImageContainer{
        margin-left: 2em;
        margin-right: 2em;
        width: 10em;
    }
    .columns{
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}